/*        網頁版         */

@media screen and (min-width: 1200px) {
    // 如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS。
    * {
        font-family: '微軟正黑體', '新細明體';
    }
    /* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }*/
    body {
        font-family: '微軟正黑體', '新細明體';
        padding: 0px;
        margin: 0 auto;
    }
    .container {
        width: 1000px;
        padding: 50px 0 0 0;
        margin: 0 auto;
    }
    /*        footer         */
    .footer {
        font-size: 18px;
        clear: both;
        width: 100%;
        height: 140px;
        background-color: #232323;
    }
    /*         首頁          */
    /*        Banner         */
    .Banner {
        width: 100%;
        padding: 50px 0 0px 0;
        border-bottom: 2px solid #BEAD92;
    }
    .BannerLeft {
        width: 480px;
        height: 500px;
        background-image: url(../images/index/BannerLeft.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
    }
    .BannerRight {
        width: 480px;
        height: 500px;
        background-image: url(../images/index/BannerRight.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
    }
    .BannerTitle {
        font-size: 28px;
        font-weight: bold;
        padding: 200px 50px 10px 50px;
    }
    .BannerContent {
        font-size: 18px;
        padding: 10px 50px;
    }
    /*        Content         */
    .Content {
        background-color: #F4F3DE;
        width: 100%;
        padding: 20px 0 10px 0;
    }
    .ContentBox {
        width: 220px;
        padding: 10px;
        margin: 45px;
        display: inline-block;
    }
    .Content img {
        width: 200px;
        margin: 0 auto;
        border-radius: 99em;
    }
    .ContentTitle {
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
        padding: 10px
    }
    /*         關於          */
    .AboutModel {
        padding: 40px 0;
        border-bottom: 2px solid #BEAD92;
    }
    .AboutLeft {
        width: 480px;
        display: inline-block;
        vertical-align: top;
    }
    .AboutRight {
        width: 480px;
        display: inline-block;
        vertical-align: top;
    }
    .MyPhoto img {
        width: 300px;
        border-radius: 99em;
    }
    .Hello {
        padding: 50px 0 20px 0;
        font-size: 48px;
        font-weight: bold;
        font-family: 'Verdana', 'Arial';
    }
    .Title {
        padding: 0px 0;
        font-size: 48px;
        font-weight: bold;
        font-family: 'Verdana', 'Arial', ;
    }
    .AboutMe {
        padding: 10px 0;
    }
    .SubTitle {
        width: 100px;
        font-size: 18px;
        color: #FFF;
        text-align: center;
        background-color: #5B4947;
        padding: 6px 10px;
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .Answer {
        font-size: 18px;
        padding: 6px 10px;
        color: #5B4947;
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .AnswerBlock {
        font-size: 18px;
        padding: 6px 10px;
        color: #5B4947;
        border-radius: 10px;
    }
    /*        平面設計         */
    .Design {
        padding: 40px 0;
    }
    .WorkBox {
        width: 300px;
        height: 300px;
        border: 1px solid #7BA3A8;
        border-radius: 10px;
        margin: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .WorkBox img {
        border-radius: 10px 10px 0 0;
    }
    .ProductName {
        font-size: 18px;
        color: #FFF;
        text-align: center;
        background-color: #7BA3A8;
        padding: 8px;
        border-bottom: 1px solid #7BA3A8;
        border-radius: 0 0 8px 8px;
    }
    /*        設計內頁         */
    .DesignTitle {
        font-size: 36px;
        color: #7BA3A8;
        padding: 5px;
        border-bottom: 3px solid #7BA3A8;
        margin: 30px 0;
        text-align: center;
    }
    .DesignBox {
        padding: 20px 0;
    }
    .DesignBox img {
        padding: 10px 5px;
        display: inline-block;
    }
    .DesignLeft {
        width: 480px;
        display: inline-block;
        vertical-align: top;
    }
    .DesignRight {
        width: 480px;
        display: inline-block;
        vertical-align: top;
    }
    .Design .Title {
        padding: 0px 0;
        font-size: 36px;
        font-weight: bold;
        color: #3E3A39;
        text-align: center;
        font-family: '微軟正黑體';
    }
    .DesignContent {
        font-size: 20px;
        color: #595757;
        padding: 6px 10px;
        border-radius: 10px;
    }
}
